@font-face {
        font-family: OpenSans;
        src: url(Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
        font-family: OpenSansLgt;
        src: url(Open_Sans/OpenSans-Light.ttf);
}

.profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
}

.icon {
        height: 75px;
       width: 75px;
        padding-left: 15px;
        padding-right: 15px;
        ;
}

.nav {
        font-family: OpenSansLgt;
        text-transform: uppercase;
}


.nav ul {
        list-style-type: none;
        margin: 0;
        padding: 20px;
}

.nav li {
        display: inline;
}

.em {
        font-style: italic;
}

.nav li h1 {
        font-family: OpenSans;
         font-size: 2em;
        margin: 0.67em 0;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
}
.nav li h1 a {

        color: #2e2e2e;
}

.nav li a{
        position: relative;
        padding: 10px 15px;

        background-color: transparent;
        text-decoration: none;
        color: #777;
}


body {
        font-family: OpenSansLgt;
        color: #2e2e2e;
}

h1 {
        font-size: 2em;
        margin: 0.67em 0;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
}

p {
        font-size: 1em;
        line-height: 1.6em;
        font-weight: 400;
        font-style: normal;
        color: rgb(69, 69, 69);
        margin: 0px 0px 1.25em;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
}

.wrapper {
        margin-right: auto;
        margin-left: auto;
        padding:15px;
}

.row {
        margin-right: -15px;
        margin-left: -15px;
}

@media (min-width: 1200px) {
.col-half {
        width: 50%;
}
.col-full{
        width: 100%
}
.col-third {
        width: 33.33333333%;
}
.col-two-thirds {
        width: 66.66666667%;
}

div .left-border {
    border-left: 1px solid #777;
    margin:15px auto;
} 


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 1200px){
     .col-half, .col-full, .col-third, .col-two-thirds {
        float: left;
        }   
}
    
.col-full, .col-half, .col-third , .col-two-thirds{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.center {
        text-align: center;
}

.right {
        text-align: right;
}

.left {
        text-align: left;
}