.homer {
    overflow: hidden;
    max-height:315px;
    max-width:315px;
    height: 625px;
    width: 625px;
    background-repeat: no-repeat;
    background-image: url("homer.jpg");     
}

/* Top left */
@media (min-width: 1200px) {
   .homer {
    background-position: 0px 0px; 
  }
}

/* Top right */
@media (min-width: 800px) and (max-width: 1200px){
  .homer {
    background-position: -320px 0px;  
  }
}

/* Bottom left */
@media (min-width: 400px) and (max-width: 800px)  {
   .homer {
    background-position: 0px -320px;  
  }
}

/* Bottom right */
@media (max-width: 400px) {
  .homer {
    background-position: -320px -320px;  
  }     
}